.logo {
  width: 280px;
  height: auto;
  object-fit: contain;
  margin: 0 auto;
  mix-blend-mode: normal;
  filter: none;
  :global(html:not(.dark) body) img.logo {
    background-color: transparent;
    mix-blend-mode: multiply;
    filter: contrast(1.1) brightness(1.05);
  }

}


.logoPlaceholder {
  width: 280px;
  height: 55px; 
}