.cookiepolicy {
    max-width: 860px;
    padding: 0 3rem 3rem;
    margin: 2rem auto;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    border: 1px solid var(--card-border);
    border-radius: $border-radius;
    background-color: var(--card-bg);
    h2 {
        text-align: center;
    }
    th, td{
        padding-left: 1rem;
        text-align: left;
        border-bottom: 1px solid var(--text-main);
    }
    td {
       font-size: 0.9rem; 
    }
}
.linkBack {
    color: var(--text-main);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    margin: 5rem auto 8rem;
    cursor: pointer;
    .linkArrow {
        font-size: 1.4rem;
    }
}
