.members__offers {
  display: block;
  font-size: 1.9rem;
  font-family: sans-serif;
  color: var(--text-main);

  &--title {
    text-align: center;
    
    margin: 3rem 0 0;
  }

  &--name {
    text-align: center;
    font-size: 16px;
    margin: 0 0 4rem;
  }
}
// .review {
//   color: black;
//   display: block;
//   background-color: bisque;
//   text-align: center;
//   margin: auto;
//   margin-top: 2rem;
//   border: 1px solid darkorange;
//   border-radius: 20px;
//   box-shadow: darkorange;
//   padding: 1rem 1rem 3rem 3rem;
//   max-width: 40rem;

//   &__title {
//     color: black;
//     font-size: 2.5rem;
//     font-family: sans-serif;
//   }

//   &__form {
//     margin-top: 1rem;
//   }
//   &__field {
//     margin-bottom: 1rem;
//   }

//   &__label {
//     display: block;
//     margin-bottom: 0.25rem;
//     font-size: 1.2rem;
//     font-family: sans-serif;
//   }

//   &__input {
//     width: 35%;
//     padding: 0.5rem;
//     border-radius: 1rem;
//   }
//   &__btn {
//     gap: 1rem;
//     align-items: center;
//     border-radius: 1rem;
//     padding: 0.9rem;
//   }
// }
