

.section {
  width: 100%;
  padding: 3rem 0;
  background-color: var(--card-bg);
  border: 2px solid var(--card-border);
  border-radius: 12px;
  color: var(--text-main);
  text-align: center;
}


.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 2rem auto;
  text-align: center;
  font-family: var(--font-geist-sans), sans-serif;
}
.heading {
  font-size: 1.4rem;
  margin-bottom: 0.1rem;
  font-weight: 600;
  color: var(--text-main);
  transition: color 0.3s ease;
}
