.section {
  width: 100%;
  padding: 3rem 0;
  border-radius: 12px;
  text-align: center;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;

  background-color: $light-bg;     
  border: 2px solid $border-color; 
  color: $light-text;              
}


:global(html.dark) {
  :local(.section) {
    background-color: $dark-bg;     
    border: 2px solid $border-dark; 
    color: $dark-text;              
  }
}

.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 2rem auto;
  text-align: center;
  font-family: var(--font-geist-sans), sans-serif;
}

.heading {
  font-size: 1.4rem;
  margin-bottom: 0.1rem;
  font-weight: 600;
  transition: color 0.3s ease;


  color: $light-text; 
}


:global(html.dark) {
  :local(.heading) {
    color: $dark-text;
  }
}