:root {
  --site-bg: #ffffff;
  --text-main: #111827;
  --card-bg: #f3f4f6;       
  --card-border: #e5e7eb;
}

html.dark {
  --site-bg: #120303;       
  --text-main: #ffffff;
  --card-bg: #1f0b0b;       
  --card-border: #372525;
}

.root {
  isolation: isolate;
}

body {
    margin: auto;
    max-width: 1200px;
    min-height: 100dvh;
    background-color: var(--site-bg);
    color: var(--text-main);
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s ease, color 0.3s ease;

    html.dark & {
    border-left: solid 1px black;
    border-right: solid 1px black;
    }

    html:not(.dark) & {
      border-left: none;
      border-right: none;
    }
}


html.dark body {
    background-color: $dark-bg; 
    color: $dark-text;
    border-left: solid 1px black;
    border-right: solid 1px black;
}