.root {
  isolation: isolate;
}

body {
    margin: auto;
    max-width: 1200px;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s ease, color 0.3s ease;

    background-color: $light-bg; 
    color: $light-text;
    border-left: none;
    border-right: none;
}


html.dark body {
    background-color: $dark-bg; 
    color: $dark-text;
    border-left: solid 1px black;
    border-right: solid 1px black;
}