:root {
  --site-bg: #ffffff;
  --text-main: #111827;
  --card-bg: #f3f4f6;       
  --card-border: #e5e7eb;
  --modal-overlay: 255, 255, 255; // RGB without rgb()
  --modal-bg: #efefef;
  --modal-hover: #898686;
  --review-score: #3b2f03;
}

html.dark {
  --site-bg: #120303;       
  --text-main: #ffffff;
  --card-bg: #1f0b0b;       
  --card-border: #372525;
  --modal-overlay: 18, 3, 3; // RGB without rgb()
  --modal-bg: #1a0000;
  --modal-hover: #c9c6c6;
  --review-score: #f5c518;
}

.root {
  isolation: isolate;
}

body {
    margin: auto;
    max-width: 1200px;
    min-height: 100dvh;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--site-bg);
    color: var(--text-main);
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s ease, color 0.3s ease;

    html.dark & {
    border-left: solid 1px black;
    border-right: solid 1px black;
    }

    html:not(.dark) & {
      border-left: none;
      border-right: none;
    }
}

html.dark body {
    background-color: $dark-bg; 
    color: $dark-text;
    border-left: solid 1px black;
    border-right: solid 1px black;
}