.bistroMenu {
    max-width: 860px;
    margin: 2rem auto;
    padding: 0 3rem 3rem;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    border: 1px solid var(--card-border);
    border-radius: $border-radius;
    background-color: var(--card-bg);
    h1, h2, p:nth-child(2){
        text-align: center;
    }
}
.linkBack {
    color: var(--text-main);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    margin: 5rem auto 8rem;
    cursor: pointer;
    .linkArrow {
        font-size: 1.4rem;
    }
}
