.popularMoviesTrack {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: $gap-md;
  margin-top: 1rem;
}

.popularMovies {
  // margin-top: 2rem;
  // font-size: 1.5rem;
  text-align: center;
  color: var(--text-main);
}

.popularMoviesHeading {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.popularMoviesTitle,
.popularMoviesReviews {
  color: var(--text-main);
}

.popularMoviesCard {
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: $gap-sm;
  text-align: center;
  padding: 0.8rem;
  text-decoration: none;
  background-color: var(--card-bg);
  border-radius: $border-radius;
  border: 1px solid var(--card-border);
}

.popularMoviesImg {
  width: auto;
  // max-height: 240px;
  max-width: 180px;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  border-radius: 6px;
}

.popularMoviesContent {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}



.popularMoviesTitle {
  margin: 0.5rem 0 0;
  font-size: 0.95rem;
}

.popularMoviesRating {
  font-size: 0.8rem;
  color: var(--review-score);
}

.popularMoviesReviews {
  font-size: 0.75rem;
}