.banner {
  text-align: center;
  margin-bottom: 2rem;
}

.logo {
  width: 600px;   
  height: auto;
  margin-bottom: 1rem;
  border-radius: 20px;
}


.tags {
  font-size: 0.9rem;
  letter-spacing: 0.15em;
  opacity: 0.8;
  text-transform: uppercase;
}
