# This an example of what information needs to be in the '.env.local', '.env.development' or '.env'
DATABASE_URL="postgres://exampleuser:examplepw@hostadress:port/database?schema=public"
POSTGRES_USER="exampleuser"
POSTGRES_PASSWORD="examplepw"
POSTGRES_DB="example_database"
# Auth Secret
AUTH_SECRET=en_väldigt_lång_och_hemlig_sträng
# The Shadow Database for Development
SHADOW_DATABASE_URL="postgres://exampleuser:examplepw@hostadress:port/database_shadow?schema=public"