# This an example of what information needs to be in the '.env.local', '.env.development' or '.env'
POSTGRES_USER=exampleuser
POSTGRES_PASSWORD=examplepw
POSTGRES_DB=example_database
DATABASE_URL="postgres://exampleuser:examplepw@hostadress:port/database?schema=public"
# Auth Secret
AUTH_SECRET="abc123"
# The Shadow Database for Development
SHADOW_DATABASE_URL="postgres://exampleuser:examplepw@hostadress:port/database_shadow?schema=public"
